<!doctype html >
<html>

<head>
<meta charset="utf-8">
<title>index</title>

<link href="css/Main.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="supperwrapper">
    <div id="wrapper">
    <div id="logo"> <img src="img/logo/shears-logo.jpg"> </div>
    <div id="icon">
        <a href="https://www.facebook.com/">
        <img src="img/logo/facebook_32.png"></a>
        <a href="https://x.com/">
        <img src="img/logo/twitter_32.png"></a>
        <a href="https://rss.com/">
        <img src="img/logo/rss_32.png"></a>
        <a href="https://www.youtube.com/">
        <img src="img/logo/youtube_32.png"></a>
    </div>
        
    <div id="navigasion"> 
    <a href="index.html"> Home </a>
    <a href="index.html"> About </a>
    <a href="index.html"> Product </a>
    <a href="index.html"> Services </a>
    <a href="index.htmlm"> Contacts </a>
    </div>

    <div id="Banner"> <img src="img/banner/b1.jpg">
    </div>

    <div id="kotak1">
        <h1> welcome to shears design website </h1>
        <p> Lorem putri sangat comel hari hari adipisicing elit. Saepe exercitationem harum, expedita neque maiores a illum impedit, totam aut cumque cum quas reiciendis voluptate dolores. Odit praesentium quos sunt assumenda.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nemo tempore aliquid nihil nobis, odio, eligendi laboriosam aperiam similique, fugit quam sunt perferendis accusantium et dolores voluptatum id tempora illo.</p>
        
    </div>

    <div> </div>

    <div id="box1">
        <h3>Modern Rooms</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quibusdam corrupti possimus ut dicta velit incidunt distinctio cumque error consectetur.</p>
        <img src = "c:\Users\20248\OneDrive\Pictures\Camera Roll\Desktop\MC1122B\img\narrow1.jpg">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, assumenda!</p>
        <a href="second.page.html"> Click here for more information </a>
    </div>

    <div id="box2">
        <h3>Traditional Rooms</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quibusdam corrupti possimus ut dicta velit incidunt distinctio cumque error consectetur.</p>
        <img src = "c:\Users\20248\OneDrive\Pictures\Camera Roll\Desktop\MC1122B\img\narrow1.jpg">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, assumenda!</p>
        <a href="second.page.html"> Click here for more information </a>
    </div>

    <div id="box3">
        <h3>Contemporary Rooms </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quibusdam corrupti possimus ut dicta velit incidunt distinctio cumque error consectetur.</p>
        <img src = "c:\Users\20248\OneDrive\Pictures\Camera Roll\Desktop\MC1122B\img\narrow1.jpg">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, assumenda!</p>
        <a href="second.page.html"> Click here for more information </a>
    </div>


    <div 
    id= "Footer"> 
           <p>copyright 2025 - putchoii comel gila </p>
       </div>
    
</div>
</body>
</html>

