/* CSS Document */

/* Vertical menu */

#menu li { margin: 0 0 3px 0; list-style-type:none; }

#menu a {
	display: block;
	*display: inline-block;
  	*width: 240px;
	width: 240px;
	text-decoration: none;
	background: #ddd;
	color: #444;
	padding: 10px 5px;
	text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	}

#menu a:hover {
	color: #eee;
	background-color: #9c9c9c;
	}

#menu .expandable { position: relative; }

#menu .expandable:before, #menu .expandable:after {
	content: '';
	position: absolute;
	right: 5px;
	margin-top: 5px;
	border-top: 6px solid #444;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	}

#menu .expandable:before {
	border-top-color: #fff;
	margin-top: 6px;
	}

#menu .expanded:after {
	border-top: 0;
	border-bottom: 6px solid #444;
	}

#menu .expanded:before {
    border-top: 0;
    border-bottom: 6px solid #fff;
	}

#menu ul a {
    background: #f2f2f2;
    text-transform: none;
    font-weight: normal;
	}

#menu ul a:hover {
    background: #fafafa;
    color: #444;
	